@import "tailwindcss";
@plugin "daisyui";
@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-accent: #ebbd67;
}

@layer base {
  body {
    @apply font-serif;
    /* @apply bg-[#f3e7db]; */
    @apply bg-[#fefce8];
  }
}
